  
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles.css")
        title Services page
    body
      nav
        ul
           li 
            a(href="/") Home
           li 
            a(href="/services") Our Services
           li
            a(href="/contact") Contact us
    h2 Awesome services
    p  Nous formons la prochaine génération tech aux 
    p technologies les plus récentes et aux métiers du futur pour les
    p  préparer au monde professionnel et renforcer leur employabilité.
    image.imge(src="Assets/unnamed.jpg")